# get top genes

In [1]:
import pandas as pd
import numpy as np

In [2]:
ENTREZ = '672'
GENE_NAME = 'BRCA1'
OUTDIR = f'/mnt/home/aaggarwal/ceph/gates_proj/perturb_mahi/{GENE_NAME}_{ENTREZ}'
brca1_ranking = pd.read_csv(f'{OUTDIR}/distances.csv')
brca1_ranking

       gene gene_name   distance
0       351       APP  49.715577
1      1026    CDKN1A  47.883124
2      1956      EGFR  47.387448
3      8829      NRP1  47.315397
4       595     CCND1  47.027817
...     ...       ...        ...
19068  3119  HLA-DQB1  19.014692
19069  4005      LMO2  19.010753
19070   347      APOD  18.940610
19071  7412     VCAM1  18.915288
19072   285    ANGPT2  18.816598

[19073 rows x 3 columns]

In [3]:
ENTREZ = '1080'
GENE_NAME = 'CFTR'
OUTDIR = f'/mnt/home/aaggarwal/ceph/gates_proj/perturb_mahi/{GENE_NAME}_{ENTREZ}'
cftr_ranking = pd.read_csv(f'{OUTDIR}/distances.csv')
cftr_ranking

         gene gene_name   distance
0         351       APP  48.638047
1        5747      PTK2  47.354887
2        6279    S100A8  47.277869
3         595     CCND1  46.870210
4        6257      RXRB  46.355834
...       ...       ...        ...
19068    1667     DEFA1  18.894807
19069    1668     DEFA3  18.816655
19070  118932   ANKRD22  18.788842
19071   56477     CCL28  18.769322
19072    9002     F2RL3  18.624752

[19073 rows x 3 columns]

In [4]:
ENTREZ = '3043'
GENE_NAME = 'HBB'
OUTDIR = f'/mnt/home/aaggarwal/ceph/gates_proj/perturb_mahi/{GENE_NAME}_{ENTREZ}'
hbb_ranking = pd.read_csv(f'{OUTDIR}/distances.csv')
hbb_ranking

         gene gene_name   distance
0        6279    S100A8  51.300472
1         351       APP  50.806998
2        1191       CLU  45.031578
3        6778     STAT6  43.958946
4        6257      RXRB  43.444771
...       ...       ...        ...
19068  196410     TMT1B  18.840201
19069  140462      ASB9  18.819962
19070    3640     INSL3  18.666303
19071   79444     BIRC7  18.617989
19072   80008   TMEM156  18.613919

[19073 rows x 3 columns]

In [5]:
ENTREZ = '2200'
GENE_NAME = 'FBN1'
OUTDIR = f'/mnt/home/aaggarwal/ceph/gates_proj/perturb_mahi/{GENE_NAME}_{ENTREZ}'
fbn1_ranking = pd.read_csv(f'{OUTDIR}/distances.csv')
fbn1_ranking

        gene gene_name   distance
0        351       APP  51.359656
1       8829      NRP1  50.380207
2        595     CCND1  49.837445
3        857      CAV1  46.380537
4       1026    CDKN1A  46.226556
...      ...       ...        ...
19068  11227    GALNT5  18.972864
19069  55344    PLCXD1  18.929116
19070   3699     ITIH3  18.861083
19071  51050      PI15  18.790386
19072   9002     F2RL3  18.510300

[19073 rows x 3 columns]

In [6]:
ENTREZ = '1756'
GENE_NAME = 'DMD'
OUTDIR = f'/mnt/home/aaggarwal/ceph/gates_proj/perturb_mahi/{GENE_NAME}_{ENTREZ}'
dmd_ranking = pd.read_csv(f'{OUTDIR}/distances.csv')
dmd_ranking

         gene gene_name   distance
0         351       APP  53.504605
1        1026    CDKN1A  51.178631
2        6464      SHC1  49.042586
3        1956      EGFR  47.975155
4         595     CCND1  46.985044
...       ...       ...        ...
19068    2532     ACKR1  18.917813
19069    1356        CP  18.905237
19070  221692   PHACTR1  18.903491
19071   56122   PCDHB14  18.786470
19072     920       CD4  18.656938

[19073 rows x 3 columns]

In [7]:
ENTREZ = '57538'
GENE_NAME = 'ALPK3'
OUTDIR = f'/mnt/home/aaggarwal/ceph/gates_proj/perturb_mahi/{GENE_NAME}_{ENTREZ}'
alpk3_ranking = pd.read_csv(f'{OUTDIR}/distances.csv')
alpk3_ranking

         gene gene_name   distance
0         351       APP  52.218900
1        3678     ITGA5  46.169174
2         595     CCND1  45.104537
3        6257      RXRB  45.026990
4        5747      PTK2  44.882979
...       ...       ...        ...
19068    2151     F2RL2  18.780922
19069     729        C6  18.775295
19070    3699     ITIH3  18.768667
19071    9002     F2RL3  18.633164
19072  151056      PLB1  18.619989

[19073 rows x 3 columns]

In [ ]:
compare to some mean baseline - variants in global network